Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
string_variable="Hello I am Learning Data Science From PWSKILLS"
list_variable=[100,200,["mini list"],"Hello World",10.5,10+5]
float_variable=10.5
tuple_variable=("pw skills","data science","hello world","Satya Sai",100)
print(string_variable)
print(list_variable)
print(float_variable)
print(tuple_variable)

Hello I am Learning Data Science From PWSKILLS
[100, 200, ['mini list'], 'Hello World', 10.5, 15]
10.5
('pw skills', 'data science', 'hello world', 'Satya Sai', 100)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [12]:
var1 = " "
var2 = [ "DS" , "ML" , "Python"]
var3 = [ 'DS' , 'ML' , 'Python']
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'list'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

i)Usage of / operator:: It returns a value where the denominator divides the numerator (quotient) in a float value.

In [14]:
a=10
b=20
c=b/a
d=a/b
print(c)
print(d)

2.0
0.5

ii)Usage of % operator::It returns a remainder value.

In [15]:
a=10
b=20
c=b%a
d=a%b
print(c)
print(d)

0
10

iii)Usage of // Value: It Returns A Quotient Value,But Only In A Integer Format

In [2]:
a=10
b=20
c=b//a
d=a//b
print(c)
print(d)

2
0

iv) Usage ** Value: It Acts As Exponent.

In [3]:
a=int(input("Enter Your First value"))
b=int(input("Enter Your First value"))
print(a**b)

Enter Your First value 2
Enter Your First value 3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [8]:
list_data=[12,12.4,"s","Satya Sai Thota",True,False,1,0,8+3j,[10,20.4,"pwskills"]]
for i in list_data :
    print(i)
    print(type(i))
else:
    print("Ended up All The Data Types")

12
<class 'int'>
12.4
<class 'float'>
s
<class 'str'>
Satya Sai Thota
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>
(8+3j)
<class 'complex'>
[10, 20.4, 'pwskills']
<class 'list'>
Ended up All The Data Types

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [18]:
a=int(input("Enter Your First value"))
b=int(input("Enter Your First value"))
no_of_division=0
while a%b==0:
    a=a//b
    no_of_division+=1
print(no_of_division)

Enter Your First value 25
Enter Your First value 5

2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
l=[]
for i in range(0,25):
    a=int(input("Enter Your value"))
    l.append(a)
print(l)

for i in l:
    if i%3==0:
        print("It Is Divisible By Three")
    else:
        print("Not Divisible By Three")

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

i)Mutable:Once,memory created in memory.It does not replace.Like Strings

In [21]:
s="Satya Sai Thota"
print(s)
s[5]="Z"
print(s)

Satya Sai Thota

TypeError: 'str' object does not support item assignment

ii)immuatable:we can change the values,one it is assigned.

In [22]:
l=[1,'sr',10.6,"PWSKILLS",True]
print(l)
l[1]="Satya Sai Thota"
l[-1]=False
print(l)

[1, 'sr', 10.6, 'PWSKILLS', True]
[1, 'Satya Sai Thota', 10.6, 'PWSKILLS', False]