Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [12]:
import pandas as pd
lis=[4,8,15,16,23,32]
df=pd.Series(lis,index=None)

In [13]:
df

0     4
1     8
2    15
3    16
4    23
5    32
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [24]:
li=[10,20,30,40,50,60,70,80,90,100]
pd.Series(li,index=['10',20,30,40,50,60,70,80,90,100])

10      10
20      20
30      30
40      40
50      50
60      60
70      70
80      80
90      90
100    100
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [21]:
data_frame={'Name':['Alice','Bob','Carlie'],
            'Age':[25,30,27],
            'Clarie':['Female','Male','Female']
           }
df=pd.DataFrame(data_frame)

In [22]:
df

     Name  Age  Clarie
0   Alice   25  Female
1     Bob   30    Male
2  Carlie   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [35]:
#DataFrame : DataFrame is a two dimensional array.it contains the row and columns . 
#Series: Series is a one dimensional array.

lis=[1,2,3,4,5,6]
lidf=pd.Series(lis)
print(lidf)
print("DataFrame is")
lisd=[['pwskills','1'],['pwskills1',2]]
lidf1=pd.DataFrame(lisd,index=['row1','row2'],columns=['heading1','heading2'])
print(lidf1)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
DataFrame is
       heading1 heading2
row1   pwskills        1
row2  pwskills1        2

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [54]:
import pandas as pd 

#read_csv: it is used for the reading the csv files from the system
df=pd.read_csv("titanic.csv")

#Head : It displays the data from the csv file in the front of the file . Intially its default number is 5 
df.head()

#Tail : It displays the data from the csv file in the back of the file .  Intially its default number is 5 
df.tail()

#dtypes:It displays the datatype of the object
df.dtypes

#Columns:It displays the Columns Name .
df.columns

Index(['Unnamed: 0', 'PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age',
       'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Only DataFrame is mutable . We can manuplate the data once the data is crearted. whereas in series we cant manipulate the data .

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [61]:
li=['Student1','Student2','Student3']
li1=['cse','it','ece']
li2=[8.4,9.0,8.5]
data=list(zip(li,li1,li2))
pd.DataFrame(data,index=["Sno1","Sno2","Sno3"],columns=["StudentName","Branch","CGPA"])

     StudentName Branch  CGPA
Sno1    Student1    cse   8.4
Sno2    Student2     it   9.0
Sno3    Student3    ece   8.5

In [60]:
data

[('Student1', 'cse', 8.4), ('Student2', 'it', 9.0), ('Student3', 'ece', 8.5)]